.navBar__ul{
    display: block;
}

.navbar__ul__li{
    display: inline-block;
    list-style-type: none;
    margin-left: 1rem;
}

.navbar__ul__li::after{
    
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #fff;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

.navbar__ul__li:hover::after{
    content: '';
}


.navBar__ul__li__a {
    text-decoration: none;
    color: #aaa;
    font-size: 0.9rem;
    font-weight: 500;
}

.navBar__ul__li__a:hover {
    color: #000;
}

.navBar{
    display: block;
}
